flows.json
[{"id":"9e0862f4.a82c9","type":"tab","label":"Azure IoT Edge","disabled":false,"info":""},{"id":"424b6553.dbf1ec","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"d7159138.7716f","type":"subflow","name":"Subflow 1","info":"","category":"","in":[],"out":[{"x":1460,"y":400,"wires":[{"id":"ac212602.ccd528","port":0}]}],"env":[{"name":"IPADDRESS","type":"str","value":"192.168.1.141","ui":{"type":"input","opts":{"types":["str"]}}},{"name":"PORT","type":"str","value":"8880"},{"name":"TOPIC","type":"str","value":"Ratiere1"}],"color":"#DDAA99"},{"id":"e543a472.1c5818","type":"ui_tab","name":"IoT Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"8b8bd259.7af5b","type":"ui_group","name":"Charts","tab":"e543a472.1c5818","order":1,"disp":true,"width":"12","collapse":false},{"id":"d5ae2d76.f72a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"eb53bb6b.018308","type":"ui_group","name":"Gauges","tab":"e543a472.1c5818","order":2,"disp":true,"width":"6","collapse":false},{"id":"ad0fb0dd.c701d","type":"edgeclient"},{"id":"a6d8f764.cfe618","type":"moduletwin","z":"9e0862f4.a82c9","client":"ad0fb0dd.c701d","x":110,"y":120,"wires":[["ce65f7c5.c5d048","d90a27a4.6e2058"]]},{"id":"ce65f7c5.c5d048","type":"debug","z":"9e0862f4.a82c9","name":"Twin msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":100,"wires":[]},{"id":"d8dae50b.812ae8","type":"moduleoutput","z":"9e0862f4.a82c9","client":"ad0fb0dd.c701d","output":"output2","x":870,"y":220,"wires":[]},{"id":"541097f6.edc958","type":"modulemethod","z":"9e0862f4.a82c9","client":"ad0fb0dd.c701d","method":"setValue","x":170,"y":640,"wires":[["d6c374a7.fea2d8","c3effbe1.9672e8","c85d97b1.90e908"]]},{"id":"d6c374a7.fea2d8","type":"debug","z":"9e0862f4.a82c9","name":"Method msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":640,"wires":[]},{"id":"c3effbe1.9672e8","type":"function","z":"9e0862f4.a82c9","name":"Response msg","func":"var response = { payload:\n\"{\\\"methodpayload\\\": \\\"\" + JSON.stringify(msg.payload) + \"\\\"}\" }\nresponse.payload.timestamp = Date.now()\nresponse.status = 100\nreturn response;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":720,"wires":[["541097f6.edc958"]]},{"id":"8f5b507c.788c7","type":"comment","z":"9e0862f4.a82c9","name":"Module twin","info":"","x":90,"y":40,"wires":[]},{"id":"f9ed4fb7.8e983","type":"comment","z":"9e0862f4.a82c9","name":"Process Direct Method","info":"","x":120,"y":580,"wires":[]},{"id":"b548b2c4.d8ccd","type":"comment","z":"9e0862f4.a82c9","name":"Process message and send to output","info":"","x":170,"y":240,"wires":[]},{"id":"c85d97b1.90e908","type":"link out","z":"9e0862f4.a82c9","name":"methodToDashboard","links":["4dfbd3b.2bc762c"],"x":435,"y":720,"wires":[]},{"id":"c7e1383b.df3748","type":"tcp in","z":"d7159138.7716f","name":"Ratiere","server":"client","host":"${IPADDRESS}","port":"${PORT}","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"${TOPIC}","base64":false,"x":190,"y":280,"wires":[["302a6707.1e5db8","9315b36.537555"]]},{"id":"302a6707.1e5db8","type":"switch","z":"d7159138.7716f","name":"Switch ","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Version","vt":"str"},{"t":"cont","v":"SpeedTable","vt":"str"},{"t":"cont","v":"TempTable","vt":"str"},{"t":"cont","v":"Lame","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":470,"y":280,"wires":[["663ebd24.711784","347e877f.a70868"],["f92d064d.642b28"],["ed16528.b2a5bb"],["2a2ca57b.763bda"]]},{"id":"663ebd24.711784","type":"json","z":"d7159138.7716f","name":"ToObject","property":"payload","action":"obj","pretty":false,"x":620,"y":180,"wires":[["cb1ecdbc.27ea2","4ea20037.aa4c4"]]},{"id":"347e877f.a70868","type":"function","z":"d7159138.7716f","name":"TimeFilter","func":"var lastSend = context.get(\"lastSend\");\nvar period = global.get(\"periodVersion\");\nconst current = Date.now();\n\nif ((current - lastSend)/1000 >= period ) {\n    context.set(\"lastSend\",current);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar lastSend = Date.now();\ncontext.set(\"lastSend\",lastSend);","finalize":"","x":720,"y":280,"wires":[["9501b409.8cdde8"]]},{"id":"cb1ecdbc.27ea2","type":"function","z":"d7159138.7716f","name":"get idle","func":"var newMsg = {payload: msg.payload.idle,topic: msg.topic};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":200,"wires":[["ef6b16aa.0b1758"]]},{"id":"9315b36.537555","type":"debug","z":"d7159138.7716f","name":"Input Ratière","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":200,"wires":[]},{"id":"d90a27a4.6e2058","type":"function","z":"9e0862f4.a82c9","name":"set Flow Variable","func":"var obj = msg.payload;\n\nnode.log (obj);\n\nglobal.set(\"threshold\", obj.threshold);\nglobal.set(\"periodVersion\",obj.periodVersion);\nglobal.set(\"periodSpeedTable\",obj.periodSpeedTable);\nglobal.set(\"periodTempTable\",obj.periodTempTable);\nglobal.set(\"periodLame\",obj.periodLame);\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.set(\"threshold\", 10);\nglobal.set(\"periodVersion\",0);\nglobal.set(\"periodSpeedTable\",0);\nglobal.set(\"periodTempTable\",0);\nglobal.set(\"periodLame\",0);","finalize":"","x":430,"y":160,"wires":[[]]},{"id":"f92d064d.642b28","type":"function","z":"d7159138.7716f","name":"TimeFilter","func":"var lastSend = context.get(\"lastSend\");\nvar period = global.get(\"periodSpeedTable\");\nconst current = Date.now();\n\n\nif ((current - lastSend)/1000 >= period || lastSend == null) {\n    context.set(\"lastSend\",current);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":320,"wires":[["9501b409.8cdde8"]]},{"id":"ed16528.b2a5bb","type":"function","z":"d7159138.7716f","name":"TimeFilter","func":"var lastSend = context.get(\"lastSend\");\nvar period = global.get(\"periodTempTable\");\nconst current = Date.now();\n\n\nif ((current - lastSend)/1000 >= period || lastSend == null) {\n    context.set(\"lastSend\",current);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":360,"wires":[["9501b409.8cdde8"]]},{"id":"2a2ca57b.763bda","type":"function","z":"d7159138.7716f","name":"TimeFilter","func":"var lastSend = context.get(\"lastSend\");\nvar period = global.get(\"periodLame\");\nconst current = Date.now();\n\n\nif ((current - lastSend)/1000 >= period || lastSend == null) {\n    context.set(\"lastSend\",current);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":400,"wires":[["9501b409.8cdde8"]]},{"id":"46efcf21.74e77","type":"function","z":"d7159138.7716f","name":"Check Alert","func":"var previous = context.get(\"previous\");\nvar previousTime = context.get(\"previousTime\");\nvar threshold = flow.get(\"threshold\");\n\nconst current = msg.payload;\n\n\nif (previous  == null) {\n    context.set(\"previous\",current);\n    context.set(\"previousTime\",Date.now());\n}\nelse \n    if ((current - previous) >= threshold) {\n        newMsg = {\n            topic:msg.topic,\n            payload: \"Alert: rapid Temperature change \" + (current - previous)/(date.now()-previousTime) +\"°/ms\"\n        }    \n        return newMsg;\n    }\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":80,"wires":[["9501b409.8cdde8"]]},{"id":"4ea20037.aa4c4","type":"function","z":"d7159138.7716f","name":"get Temperature","func":"var newMsg = {payload: msg.payload.Temperature,topic: msg.topic};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":140,"wires":[["666e913d.041c6","46efcf21.74e77"]]},{"id":"666e913d.041c6","type":"ui_gauge","z":"d7159138.7716f","name":"","group":"8b8bd259.7af5b","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1010,"y":140,"wires":[]},{"id":"ef6b16aa.0b1758","type":"ui_numeric","z":"d7159138.7716f","name":"","label":"numeric","tooltip":"","group":"8b8bd259.7af5b","order":1,"width":"4","height":"2","wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"10000000","step":1,"x":1020,"y":200,"wires":[[]]},{"id":"eaaf27c.dfd58d8","type":"subflow:d7159138.7716f","z":"9e0862f4.a82c9","name":"Ratiere ESP32","env":[{"name":"IPADDRESS","value":"192.168.0.141","type":"str"},{"name":"PORT","value":"8882","type":"str"}],"x":540,"y":280,"wires":[["d8dae50b.812ae8","c15842d5.c999d"]]},{"id":"c15842d5.c999d","type":"debug","z":"9e0862f4.a82c9","name":"Output Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":360,"wires":[]},{"id":"796f621d.fcb07c","type":"subflow:d7159138.7716f","z":"9e0862f4.a82c9","name":"Ratiere ESP32","env":[{"name":"IPADDRESS","value":"192.168.0.141","type":"str"},{"name":"PORT","value":"8882","type":"str"},{"name":"TOPIC","value":"Ratiere2","type":"str"},{"name":"Topic","value":"Ratiere2","type":"str"}],"x":540,"y":340,"wires":[["d8dae50b.812ae8","c15842d5.c999d"]]},{"id":"f7a8368c.eb6448","type":"subflow:d7159138.7716f","z":"9e0862f4.a82c9","name":"Ratiere Simulated","env":[{"name":"IPADDRESS","value":"192.168.0.140","type":"str"},{"name":"TOPIC","value":"Ratiere3","type":"str"},{"name":"Topic","value":"Ratiere2","type":"str"}],"x":550,"y":400,"wires":[["d8dae50b.812ae8","c15842d5.c999d"]]},{"id":"931b0ceb.85177","type":"function","z":"d7159138.7716f","name":"Add Source","func":"msg.payload[\"From\"] = msg.topic\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":340,"wires":[["ac212602.ccd528"]]},{"id":"9501b409.8cdde8","type":"json","z":"d7159138.7716f","name":"convert","property":"payload","action":"obj","pretty":false,"x":1240,"y":280,"wires":[["931b0ceb.85177"]]},{"id":"ac212602.ccd528","type":"json","z":"d7159138.7716f","name":"convert back","property":"payload","action":"str","pretty":false,"x":1250,"y":400,"wires":[[]]}]